/modules/client-library/target/
/modules/commons-core/target/
/modules/driver-opendmx/target/
/modules/user-interface/target/
modules/driver-opendmx/src/main/jni/OpenDMXDriverCPP/build/Debug/
userFiles/waveArr/
modules/driver-opendmx/src/main/OpenDMX-FTDI64/build/
modules/driver-opendmx/src/main/OpenDMX-FTDI32/build/
modules/driver-opendmx/src/main/OpenDMX-FTDI64/dist/
/modules/fixture-Chauvet-FX-DerbyX/target/
/modules/driver-opendmx/nbproject/
/modules/client-library/nbproject/